<section id="home">
  <div class="main-content">
    <!------------ CAROUSEL ------------>
    <section class="home-carousel">
      <div id="carousel-all" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="carousel-item active">
            <img class="d-block img-fluid" src="/assets/application/BLW logo" alt="First slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/assets/application/BLW logo" alt="Second slide">
          </div>
          <div class="carousel-item">
            <img class="d-block img-fluid" src="/assets/application/BLW logo" alt="Third slide">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <i class="fa fa-angle-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <i class="fa fa-angle-right" aria-hidden="true"></i>
        </a>
      </div>
    </section>
    <!------------ END CAROUSEL ------------>
    <!------------ PAGE CONTENT ------------>
    <section class="home-content">
      <section id="articles-2-content">
        <div class="row">
          <!------------ ARTICLES ------------>
          <div class="col-md-8">
            <h4 class="title-where">Lo mas reciente</h4>
            <div class="articles-1">
              <ul class="article-list">
                <%= render 'layouts/col-articles' %>
              </ul>
            </div>
          </div>
          <!------------ END ARTICLES ------------>
          <!------------ VIDEOS ------------>
          <div class="col-md-4">
            <h4 class="title-where">Videos</h4>
            <%= render 'layouts/col-videos'%>
          </div>
          <!------------ END VIDEOS ------------>
        </div>
        <!-- END ROW -->
      </section>
      <!-- RECIPES-CONTENT -->
      <section id="recipe-content">
        <h4 class="title-where">Recetas</h4>
        <div class="row article-tumbnail-top">
          <%= render 'layouts/col-recipes'%>
        </div>
      </section>
      <!-- END RECIPES-CONTENT -->
      <!-- ARTICLES-CONTENT -->
      <section id="articles-content">
        <h4 class="title-where">Articulos</h4>
        <div class="row">
          <%= render 'layouts/col-articles-6'%>
        </div>
      </section> <!-- ARTICLES-CONTENT -->
    </section>
    <!-- END HOME-CONENT -->
    <!------------ END PAGE CONTENT ------------>
  </div>
  <!-- END MAIN-CONENT -->
</section>
<!-- END HOME -->