.header-wrapper {
  display: flex; /* or inline-flex */
}

.page-header-nav-pills{
    width: 100%;
    margin-top: 1.5rem;
}

.logo-link img{
    width: 4rem;
    height: 4rem;
}

.header-navigation .navbar-nav{
    margin-left: 2rem;
}