/* CUSTOMIZE THE HEADER
-------------------------------------------------- */
.header-wrapper {
  display: flex; /* or inline-flex */
}

.page-header-nav-pills{
    width: 100%;
    margin-top: 1.5rem;
}

.logo-link img{
    width: 4.5rem;
    height: 4.5rem;
}

.header-navigation .navbar-nav{
    margin-left: 2rem;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.home-carousel #carousel-all {
  height: 300px;
  margin-bottom: 2rem;
  width: 100%;
}
/* Since positioning the image, we need to help out the caption */
.home-carousel .carousel-caption {
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.home-carousel .carousel-item {
  height: 300px;
  background-color: #777;
  width: 100%;
}

.home-carousel .carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 300px;
}

/* CUSTOMIZE THE 2 COLUMN ARTICLES ON HOMEPAGE
-------------------------------------------------- */
/*.article-list .article-thumbnail img{
    width: 100%;
}*/

.articles-1{
    margin-bottom: 0.8rem;
    width: 100%;
}

.article-list{
        list-style: none;
        padding-left: 0;
    }

@media (min-width: 992px) {
.article-list{
        border-right: 1px solid #e0e0e0;
    }
}

.article-list li{
    margin-bottom: 2rem;
    margin-right: 0;
}

.article-text{
    padding: 1rem;
}

.article-text .category-title a{
    font-size: 0.82rem;
    color: #7cc347;
    text-transform: uppercase;
    margin-bottom: 1px;
    text-decoration: none;
    font-weight: bold;
}

.article-text .column-article-title h3{
    line-height: 1;
    font-weight: 700;
}

.title-where {
    margin-bottom: 1rem;
}

.videos{
    padding: 0.5rem;
}

/* CUSTOMIZE RECIPE HOME
-------------------------------------------------- */
.recipe-list{
        list-style: none;
        padding: 0.5rem;
    }
    
#recipe-content{
    margin-top: 1rem;
}

/* Articles 6 */
.articles-6-list{
        list-style: none;
        padding: 0.5rem;
        margin-bottom: -1rem;
    }
    
    /* QUITA UN POCO DE ESPACIO ENTRE CATEGORY TITLE Y THUMBNAIL DE RECIPES Y 
    ARTICLES 6 MAS DE ARTICLES 6*/
    
/* CUSTOMIZE BLOG HOME
-------------------------------------------------- */
.blog-home {
    margin-top: 3rem;
}

.blog-home .right {
    margin-top: 1.8rem;
}

.right-titles{
    text-transform: uppercase;
}

#blog-primary, .blog-about, .blog-popular, .blog-categories, .blog-dates{
    margin-bottom: 3rem;
}

.blog-title h4{
    font-size: 0.82rem;
    color: #7cc347;
    text-transform: uppercase;
    margin-bottom: 1px;
    text-decoration: none;
    font-weight: bold;
}

.popular-article .article-title{
    font-size: 1.3rem;
}

.popular-article .article-text{
    padding: 0rem;
}

.popular-article .article-text .category-title{
    margin-top: -0.9rem;
}

@media (min-width: 992px) {
.article-list{
        border-right: none;
    }
}