// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.recipe {
    background: white;
    border-radius: 5px;
	margin-bottom: 40px;
	.image_wrapper {
		max-width: 100%;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
    img {
        width: 100%;
        -webkit-transition: all .3s ease-out;
        -moz-transition: all .3s ease-out;
        -o-transition: all .3s ease-out;
        transition: all .3s ease-out;
        &:hover {
            transform: scale(1.075);
        }
    }
    h2 {
        margin: 0;
        font-size: 1rem;
        font-weight: normal;
        line-height: 1.3;
    }
}

/*#recipe_info, #ingredients, #directions {
    background: white;
    min-height: 360px;
    border-radius: 5px;
    padding: 2em 8%;
}

.recipe_image {
    max-width: 100%;
    border-radius: 5px;
}

#recipe_info {
    h1 {
        font-size: 36px;
        font-weight: normal;
    }
    .description {
        color: #8A8A8A;
        font-size: 1.1rem;
    }
}

#ingredients, #directions{
    margin-bottom: 3.5rem;
    ul, ol {
        padding-left: 1.1rem;
        li {
            padding: 1em 0;
            border-bottom: 1px solid #EAEAEA;
        }
    }
}
*/