<div class="col-md-4">
    <div class="articles-6-list">
        <ul class="articles-6-list">
            <li>
                <!------------ 1ST ARTICLES-6 ------------>
                <div class="articles-6-article">
                    <div class="article-thumbnail">
                        <!------- IMAGE ------->
                        <a href="#"><img src="/assets/application/BLW logo" class="img-thumbnail"></a>
                    </div>
                    <!------- END IMAGE ------->
                    <div class="article-text">
                        <!------- ARTICLE ------->
                        <h3 class="category-title">
                            <a href="#">1st article</a>
                        </h3>
                        <a class="column-article-title" href="#">
                            <h3 class="article-title">Alimentos ideales para empezar: Ricos en hierro, faciles de manipular</h3>
                        </a>
                        <div class="article-author">

                        </div>
                    </div>
                    <!------- END ARTICLES-6 ------->
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-4">
    <div class="articles-6-list">
        <ul class="articles-6-list">
            <li>
                <!------------ 2ND ARTICLES-6 ------------>
                <div class="articles-6-article">
                    <div class="article-thumbnail">
                        <!------- IMAGE ------->
                        <a href="#"><img src="/assets/application/BLW logo" class="img-thumbnail"></a>
                    </div>
                    <!------- END IMAGE ------->
                    <div class="article-text">
                        <!------- ARTICLE ------->
                        <h3 class="category-title">
                            <a href="#">2nd article</a>
                        </h3>
                        <a class="column-article-title" href="#">
                            <h3 class="article-title">Alimentos ideales para empezar: Ricos en hierro, faciles de manipular</h3>
                        </a>
                        <div class="article-author">

                        </div>
                    </div>
                    <!------- END ARTICLES-6 ------->
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="col-md-4">
    <div class="articles-6-list">
        <ul class="articles-6-list">
            <li>
                <!------------ 3RD ARTICLES-6 ------------>
                <div class="articles-6-article">
                    <div class="article-thumbnail">
                        <!------- IMAGE ------->
                        <a href="#"><img src="/assets/application/BLW logo" class="img-thumbnail"></a>
                    </div>
                    <!------- END IMAGE ------->
                    <div class="article-text">
                        <!------- ARTICLE ------->
                        <h3 class="category-title">
                            <a href="#">3rd article</a>
                        </h3>
                        <a class="column-article-title" href="#">
                            <h3 class="article-title">Alimentos ideales para empezar: Ricos en hierro, faciles de manipular</h3>
                        </a>
                        <div class="article-author">

                        </div>
                    </div>
                    <!------- END ARTICLES-6 ------->
                </div>
            </li>
        </ul>
    </div>
</div>