<% @article.each do |article| %>
    <div class="col-md-4 articles-6-list">
        <a href="#">
            <%= image_tag article.pic.url, class: "posts-pic img-fluid responsive card-img-top" %>
            <p class="date"><small class="text-muted">
                <%= article.created_at.strftime("%d %B, %Y") %></small>
            </p>
            <h4 class="article-title">
                <%= link_to article.title, article%>
            </h4>
            <p class"article-description">
                <%= link_to article.description.truncate_words(35), article%>
            </p>
        </a>
        <a>
            <p class="category-title"><small class="text-muted">
            <a href="#">1st articles</a>
            </small></p>
        </a>
    </div>
<% end %>