<% @article.each do |article| %>
<li>
    <!------------ 1ST ARTICLE ------------>
    <div class="row article-tumbnail-top">
        <div class="col-md-6 article-thumbnail">
            <!------- IMAGE ------->
            <a href="#"><%= image_tag article.pic.url(:medium), class: "img-thumbnail float-left" %></a>
        </div>
        <!------- END IMAGE ------->
        <div class="col-md-6 article-text">
            <!------- ARTICLE ------->
            <h3 class="category-title">
                <a href="#">1st article</a>
            </h3>
            <a class="column-article-title" href="#">
                <h3 class="article-title"><%= link_to article.title, article%></h3>
            </a>
            <div class="article-author">
                
            </div>
        </div>
        <!------- END ARTICLE ------->
    </div>
</li>
<% end %>
<!------------ END 1ST ARTICLE ------------>