<div class="row">
    <div class="col-12">
        <div class="videos">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NHtxfcKXl6g"></iframe>
            </div>
            <p class="h6 text-muted"><small>BLW explicado en 1 minuto. No papillas ni comida 
                  especial para bebé. Deja que tu bebé aprenda a...</small></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="videos">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NHtxfcKXl6g"></iframe>
            </div>
            <p class="h6 text-muted"><small>BLW explicado en 1 minuto. No papillas ni comida 
                  especial para bebé. Deja que tu bebé aprenda a...</small></p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="videos">
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/NHtxfcKXl6g"></iframe>
            </div>
            <p class="h6 text-muted"><small>BLW explicado en 1 minuto. No papillas ni comida 
                  especial para bebé. Deja que tu bebé aprenda a...</small></p>
        </div>
    </div>
</div>