<header class="page-header">
    <div class="header-wrapper">
        <a href="#" class="page-header-logo-link">BLW LOGO</a>
        <span class="container-flex"></span>
        <div class="page-header-utility-container">
            <div class="page-header-nav-pills center-pills">
                <ul class="nav nav-pills pull-right">
                    <li class="nav-item">
                        <a class="nav-link" href="">ABOUT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">LIBROS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">VIDEOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">FOTOS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">RECETAS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">CONTACTO</a>
                    </li>
                    <!--<li class="nav-item"><= link_to "FOTOS", #%></li>-\\\\\\\\\->-->
                </ul>
            </div>
        </div>
    </div>
    <div class="header-navigation">
        <nav>
            <ul>
                <li></li>
            </ul>
        </nav>
    </div>
</header>