<header class="page-header">
    <div class="header-wrapper">
        <nav class="navbar">
            <a class="navbar-brand logo-link" href="#">
                <img src="/assets/application/BLW logo" class="d-inline-block align-top" alt="">
            </a>
        </nav>
        <div class="page-header-nav-pills">
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LIBROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">VIDEOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FOTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">RECETAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACTO</a>
                </li>
                <!--<li class="nav-item"><= link_to "FOTOS", #%></li>-\\\\\\\\\->-->
            </ul>
        </div>
        
    </div>
    <div class="header-navigation">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
            <a class="navbar-brand" href="#">Navbar</a>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                </ul>
            </div>
</header>