<header class="page-header">
    <div class="header-wrapper">
        <nav class="navbar">
            <a class="navbar-brand logo-link" href="#">
                <img src="/assets/application/BLW logo" class="d-inline-block align-top" alt="">
            </a>
        </nav>
        <!--
        <div class="page-header-nav-pills">
            <ul class="nav nav-pills justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="">ABOUT</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">LIBROS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">VIDEOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">FOTOS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">RECETAS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACTO</a>
                </li>
                <!--<li class="nav-item"><= link_to "FOTOS", #%></li>-\\\\\\\\\>--
            </ul>
        </div>-->
    </div>
    <div class="header-navigation">
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto nav-item active d-flex justify-content-center">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Incio</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Baby Led Weaning
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Definición de BLW</a>
                            <a class="dropdown-item" href="#">Beneficios de BLW</a>
                            <a class="dropdown-item" href="#">Bebés de botella</a>
                            <!--<li role="separator" class="divider"></li>-->
                            <a class="dropdown-item" href="#">Consejos para todos</a>
                            <a class="dropdown-item" href="#">Cuando no hacer BLW</a>
                            <a class="dropdown-item" href="#">Estudios y Referencias</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          ¿Cómo empezar?
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="#">Edad y requisitos para comenzar</a>
                        <a class="dropdown-item" href="#">Guía para comenzar</a>
                        <a class="dropdown-item" href="#">Tipo de comida</a>
                        <a class="dropdown-item" href="#">BLW Tips</a>
                        <a class="dropdown-item" href="#">Introducción de sabores</a>
                        <!--<li role="separator" class="divider"></li>-->
                        <a class="dropdown-item" href="#">Recetas</a>
                        <a class="dropdown-item" href="#">Ideas de comida</a>
            </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Seguridad
                        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Reglas de seguridad</a>
                    <a class="dropdown-item" href="#">Ahogamiento</a>
                    <a class="dropdown-item" href="#">Primeros Auxilios</a>
                    <a class="dropdown-item" href="#">Alimentos a Evitar</a>
                    <!--<li role="separator" class="divider"></li>-->
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Nutrición
                        </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="#">Nutrición</a>
                    <a class="dropdown-item" href="#">Hierro</a>
                    <a class="dropdown-item" href="#">Cantidades</a>
                    <a class="dropdown-item" href="#">Alergias</a>
                    <!--<li role="separator" class="divider"></li>
                            <li class="dropdown-header">Listas de alimentos</li>-->
                    <a class="dropdown-item" href="#">Mucho Hierro</a>
                    <a class="dropdown-item" href="#">Alto contenido Energético</a>
                    <a class="dropdown-item" href="#">Alimentos Peligrosos</a>
                    <a class="dropdown-item" href="#">Primeros Alimentos</a>
                </div>
            </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="Buscar">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
                <i class="fa fa-search" aria-hidden="true"></i></button>
            </form>
    </div>
    </nav>
    </div>
</header>